<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo préstamo</title>
    <!-- CARGO CSS DE ADMIN -->
    <link rel="stylesheet" th:href="@{/css/admin-styles.css}">
</head>
<body class="bg-light">
<div class="container mt-4">
    <!-- TITULO PRINCIPAL -->
    <h1 class="text-center">Registrar nuevo préstamo</h1>

    <!-- FORMULARIO DE CREACIÓN DE PRÉSTAMO -->
    <form th:action="@{/loans/create}" method="post" class="mt-4">
        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <select name="userId" class="form-select" required th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.fullName}">
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Libro</label>
            <select name="bookId" class="form-select" required th:each="libro : ${libros}" th:value="${libro.id}" th:text="${libro.title}">
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha límite</label>
            <input type="date" name="dueDate" class="form-control" required>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Crear préstamo</button>
        </div>
    </form>
</div>
</body>
</html>
